html,
body {
    position: absolute;
    color: #aaa;
    background: #292929;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.blue {
    color: #5a9bda;
}
.whisper {
    font-size: 50%;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(255,255,255,0.6); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,255,255,0); 
}
::selection {
    background: #aaa;
}
.content {
    width: 100%;
    height: 100%;
    margin: 0;
}
ul {
    list-style-type: none;
}
.nav {
    /*width: 100%;*/
    margin: 0;
    padding: 0;
}
.nav li {
    /*padding: 5px 20px;*/
    width: 100%;
    -webkit-transition: all .15s ease-in-out;
          transition: all .15s ease-in-out;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}
.nav li.active {
    background: #26508b;
    border-bottom: 1px solid #5a9bda;
}
.nav li:hover {
    background: rgba(255,255,255,.05);
}
.nav li:active {
    background: rgba(255,255,255,.1);
    /*background: rgba(255,255,255,.2);*/
}
.nav li.active:hover {
    background: #3573C6;
}
.menuitem {
    padding: 5px 20px;
    margin: 0;
}
.menuitem:after {
    font-family: 'fontawesome';
    float: right;
    content: "\f101";
    color: transparent;
    -webkit-transition: all .15s ease-in-out;
          transition: all .15s ease-in-out;
}
.nav li.active .menuitem:after {
    color: #6595D6;
}
.menuitem:hover:after {
    color: #aaa;
}
.menuitem-sub {
    font-size: 70%;
    text-indent: 20px;
}
.menuitem-sub-sub {
    font-size: 70%;
    text-indent: 40px;
}
a {
    color: #aaa;
    text-decoration: none;
}
.col {
    position: relative;
    height: 100%;
    float: left;
}
@media (min-width: 0px) and (max-width: 768px) {
    .col-5 {
        width: 30%;
        border-right: 1px solid rgba(0,0,0,1);; 
    }
    .col-5-4 {
        width: calc(70% - 1px);
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .col-5 {
        width: 25%;
        border-right: 1px solid rgba(0,0,0,1);; 
    }
    .col-5-4 {
        width: calc(75% - 1px);
    }    
}
@media (min-width: 992px) {
    .col-5 {
        width: 20%;
        border-right: 1px solid rgba(0,0,0,1);; 
    }
    .col-5-4 {
        width: calc(80% - 1px);
    }    
}
.col-locked {
    position: fixed;
    padding-top: 0;
}
.title {
    padding: 0;
    position: absolute;
    height: 69px;
    top: 0;
    width: 100%;
    background: rgba(38,80,139, .3);
}
.title h1 {
    padding: 0 20px;
}
.titleborder {
    /*border-bottom: 1px solid rgba(0,0,0 ,1);;*/
}
.col-nav {
    border-top: 1px solid rgba(0,0,0 ,1);
    position: absolute;
    top: 69px;
    width: 100%;
}
.pages {
    height: 100%;
}
.page {
    position: relative;
    min-height: 100%;
    width: 100%;
}
/*.page-content {
    min-height: 100%;
    padding: 0 20px;
}*/
.page-content {

}
.page-title {
    border-bottom: 1px solid rgba(0,0,0,1);;
    border-top: 1px solid rgba(0,0,0,1);;
    /*background: #26508b;*/
    background: rgba(38,80,139, .3);

    padding: 0 20px;
}
/*.page-title:first-of-type {
    border-top: none;
}*/
.page-title h2 {
}
.page-text {
    width: 50%;

    margin-left: 20px;
    padding-bottom: 
}
.page {
    position: relative;
    float: left;
}
.page-demo {
    /*float: left;*/
    padding: 0;
    width: calc(50% - 40px);
    margin-left: 20px;
    height: calc(100% - 70px);
    left: calc(20px + 50%);
    top: 70px;
    position: absolute;
}
#editor {
    border: none;
    color: white;
    padding: 10px;
}
.CodeMirror,
#editor {
    position: absolute;
    height: 100%;
    width: 100%;
}
code {
    background: rgba(255,255,255,.1);
    padding: 2px;
}
textarea {
    font-family: monospace;
    background: rgba(0,0,0,.4);
    width: 100%;
    margin: 0;
}
table {
    width: 100%;
}
table td {
    width: auto;
    text-align: center;
    border: 1px solid rgba(0,0,0,1);;
}
table .table-clear {
    background: transparent;
}
table .table-light {
    background: rgba(255,255,255,.1);
}
table .table-active {
    background: #5a9bda;
    color: #292929;
}
table .table-active-2 {
    background: rgba(255,255,255,.5);
}
table.table-smalltext {
    font-size: 80%;
}
table.table-smalltext td {
    padding: 10px 0;
}
table.table-alignleft td {
    text-align: left;
}
hr {
    border: 1px solid transparent;
    border-top: 1px solid #000;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
h1, h2, h3, h4 {
    text-transform: capitalize;
}
i {
    color: #fff;
}
#git-link {
    color: #444;
    font-size: 60px;
    height: 60px;
    width: auto;
    position: fixed;
    left: 10px;
    bottom: 7px;
    z-index: 100;
    -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

#git-link:hover {
    color: #5a9bda;
    cursor: pointer;
    -ms-transform:rotate(-15deg);
    -webkit-transform:rotate(-15deg);
    -moz-transform:rotate(-15deg);
    -o-transform:rotate(-15deg);
    transform:rotate(-15deg);
}