html,
body {
    position: absolute;
    color: #aaa;
    background: #292929;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.fa-cube {
    color: #5a9bda;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(255,255,255,0.6); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,255,255,0); 
}
::selection {
    background: #aaa;
}
.content {
    width: 100%;
    height: 100%;
    margin: 0;
}
ul {
    list-style-type: none;
}
.nav {
    /*width: 100%;*/
    margin: 0;
    padding: 0;
}
.nav li {
    /*padding: 5px 20px;*/
    width: 100%;
    -webkit-transition: all .15s ease-in-out;
          transition: all .15s ease-in-out;
    cursor: pointer;
}
.nav li.active {
    background: rgba(255,255,255,.05);
}
.nav li:hover {
    background: rgba(255,255,255,.1);
}
.nav li:active {
    /*background: rgba(255,255,255,.2);*/
    background: #26508b;
}
.menuitem {
    padding: 5px 20px;
    margin: 0;
}
.menuitem:after {
    font-family: 'fontawesome';
    float: right;
    content: "\f101";
    color: transparent;
    -webkit-transition: all .15s ease-in-out;
          transition: all .15s ease-in-out;
}
.menuitem:hover:after {
    color: #aaa;
}
.menuitem-sub {
    font-size: 70%;
    text-indent: 20px;
}
a {
    color: #aaa;
    text-decoration: none;
}
.col {
    position: relative;
    height: 100%;
    float: left;
}
@media (min-width: 0px) and (max-width: 768px) {
    .col-5 {
        width: 30%;
        border-right: 1px solid black; 
    }
    .col-5-4 {
        width: calc(70% - 1px);
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .col-5 {
        width: 25%;
        border-right: 1px solid black; 
    }
    .col-5-4 {
        width: calc(75% - 1px);
    }    
}
@media (min-width: 992px) {
    .col-5 {
        width: 20%;
        border-right: 1px solid black; 
    }
    .col-5-4 {
        width: calc(80% - 1px);
    }    
}
.col-locked {
    position: fixed;
    padding-top: 0;
}
.title {
    padding: 0 20px;
}
.title h1 {
}
.titleborder {
    border-bottom: 1px solid black;
}
.pages {
    height: 100%;
}
.page {
    position: relative;
    min-height: 100%;
    width: 100%;
}
.page-content {
    min-height: 100%;
    padding: 0 20px;
}
.page-title {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.page-title h2 {
}
.page-text {
    float: left;
    /*padding: 20px 0;*/
    width: 50%;
}
.page-text p {

}
.page-demo {
    float: left;
    padding: 0;
    width: calc(50% - 40px);
    margin-left: 20px;
    height: calc(100% - 70px);
    left: 50%;
    position: absolute;
}
/*#editor {
    height: 100%;
    position: absolute;
}*/
.CodeMirror {
    height: auto;
}
code {
    background: rgba(255,255,255,.1);
    padding: 1px;
}
textarea {
    font-family: monospace;
    background: rgba(0,0,0,.4);
    width: 100%;
    margin: 0;
}
table {
    width: 100%;
}
table td {
    width: auto;
    text-align: center;
    border: 1px solid black;
}
table .table-clear {
    background: transparent;
}
table .table-light {
    background: rgba(255,255,255,.1);
}